<h1> <%= @band.name %></h1>

<form class="" action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="patch">
   <%= render "partials/band_form" %>
 <button>Edit Band</button>
 </form>
