<h1>Sign up!</h1>

  <%= flash_errors %>
<form action="<%= users_url %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/user_form" %>
  <button name="Sign up">Sign up!</button>
</form>
