<h1>Edit <%= @track.title %></h1>
<%= flash_errors %>

<form class="" action="<%= track_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render "partials/track_form" %>
  <button>Edit Track</button>
</form>
