<h1>Edit <%= @album.name %> </h1>
<%= flash_errors %>

<form action="<%= album_url(@album) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <%= render "partials/album_form" %>
    <button>Edit Album</button>
</form>
