<h1>Edit <%= @album.name %> </h1>
<%= flash_errors %>

<form action="<%= album_url(@album) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <%= render partial: "partials/album_form", locals: { album: @album } %>
    <button>Edit Album</button>
</form>
